* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bg-primary-color);
  color: var(--text-primary-color);
}

main {
  width: 100%;
}
main section {
  width: 100%;
  padding: var(--padding-equal-2xl);
  display: flex;
  gap: var(--gutter-xl);
}
main section .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--gutter-xl);
  width: 60%;
}
main section .left .top {
  display: flex;
  align-items: center;
  gap: var(--gutter-lg);
}
main section .left .top .btn {
  padding: var(--padding-md);
  border-radius: var(--border-radius-md);
  border: none;
  outline: none;
  color: var(--text-primary-color);
  font-size: var(--font-md);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
main section .left .top .btn:hover {
  filter: brightness(1.2);
  color: var(--text-secondary-color);
}
main section .left .top .btn:active {
  transform: scale(0.93);
}
main section .left .top .upload {
  background-color: var(--btn-upload);
}
main section .left .top .reset {
  background-color: var(--btn-reset);
}
main section .left .top .download {
  background-color: var(--btn-download);
}
main section .left .bottom {
  position: relative;
  width: 100%;
  padding: var(--padding-equal-2xl);
  border-radius: var(--border-radius-lg);
  aspect-ratio: 7/4.5;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--bg-tertiary-color);
}
main section .left .bottom .placeholder {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--gutter-sm);
  flex-direction: column;
  opacity: 0.5;
  z-index: 1;
}
main section .left .bottom .placeholder i {
  font-size: 7rem;
}
main section .left .bottom .placeholder p {
  font-size: var(--font-lg);
}
main section .left .bottom canvas {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  max-width: 90%;
  max-height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
}
main section .right {
  width: 35%;
  background-color: var(--bg-secondary-color);
  padding: var(--padding-lg);
  border-radius: var(--border-radius-lg);
  display: flex;
  flex-direction: column;
  gap: var(--gutter-lg);
}
main section .right h2 {
  font-size: var(--font-3xl);
  font-weight: 600;
}
main section .right .filters {
  width: 100%;
  display: flex;
  gap: var(--gutter-md);
  flex-direction: column;
}
main section .right .filters p {
  font-size: var(--font-md);
}
main section .right .filters input {
  width: 100%;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  transition: all 0.3s ease;
}
main section .right .filters input::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: var(--slider-thumb-color);
  margin-top: -7px;
}
main section .right .filters input::-webkit-slider-runnable-track {
  background-color: var(--slider-track-color);
  height: 6px;
  border-radius: var(--border-radius-lg);
}
main section .right .presets {
  display: flex;
  gap: var(--gutter-md);
  flex-wrap: wrap;
}
main section .right .presets button {
  padding: var(--padding-md);
  border-radius: var(--border-radius-md);
  border: 1px solid var(--text-secondary-color);
  outline: none;
  background-color: transparent;
  color: var(--text-secondary-color);
  font-size: var(--font-md);
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
main section .right .presets button:hover {
  filter: brightness(1.2);
  color: var(--text-secondary-color);
}
main section .right .presets button:active {
  transform: scale(0.95);
}/*# sourceMappingURL=style.css.map */